@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.margin_bottom_zero {
  margin-bottom: 0 !important;
}
.bold_font {
  font-weight: bold !important;
}
.text_uppercace {
  text-transform: uppercase !important;
}

.header-style-3 .topbar {
  background-color: #9a9a34;
}

.header-style-2 #navbar > ul > li > a,
.header-style-3 #navbar > ul > li > a {
  color: #333;
  font-size: 11px;
}

.navbar-brand {
  padding: 0;
}
.site-header #navbar > ul > li .sub-menu a {
  color: #333;
}
.site-header #navbar > ul li a:hover,
.site-header #navbar > ul li a:focus {
  text-decoration: none;
  color: #9a9a34 !important;
  cursor: pointer;
}
.FAQSpecialButton {
  width: 30px;
  height: 30px;
}
.FAQSpecialButton a > img{
  display: block;
  height: 100%;
}
.FAQSpecialButton a > img{
  width: 100%;
}
a.header_login_button {
  background: #9a9a34;
  padding: 15px !important;
  margin: 18px 0px;
  color: #fff !important;
  border-radius: 100px;
  transition: all 0.4s;
}
a.header_login_button:hover {
  background: #333 !important;
  color: #fff !important;
}

.theme-btn,
.theme-btn-s2,
.theme-btn-s3 {
  background-color: #9a9a34;
}
.theme-btn,
.theme-btn-s2,
.theme-btn-s3 {
  background-color: #9a9a34;
}
.theme-btn:hover,
.theme-btn-s2:hover,
.theme-btn-s3:hover,
.theme-btn:focus,
.theme-btn-s2:focus,
.theme-btn-s3:focus,
.theme-btn:active,
.theme-btn-s2:active,
.theme-btn-s3:active {
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

.site-footer {
  background-color: #68683e;
}
.site-footer .upper-footer {
  padding: 50px 0;
}
.back-to-top {
  background-color: #645900;
  border: 3px solid rgba(255, 255, 255, 0.45);
}
.testimonials-section .testimonial-grids .grid {
  margin: 0 15px 18px;
}
.why_aml_icon {
  width: 50px;
}
.section-padding {
  padding: 50px 0;
}
.testimonials-section .client-info {
  margin-bottom: 52px;
  position: relative;
  padding-left: 112px;
}
.testimonials-section .client-info .img-holder {
  height: 100px;
}
.testimonials-section .client-info .img-holder img {
  height: 100%;
}
.site-footer .link-widget ul {
  width: 100%;
}
.site-footer .link-widget-about-us ul {
  width: 50%;
}
/* footer */
@media screen and (max-width: 600px) {
  .halfwidthAndFloatLeft {
    width: 50%;
    float: left;
  }
}
/* footer */
/* what we offer start */
.what_we_offer {
  display: flex;
  flex-direction: column;
}
.what_we_offer_tab {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.what_we_offer_tab li {
  border-bottom: 3px solid #a8a029;
}
.what_we_offer_tab li.active {
  border-bottom: 3px solid #645900;
  color: #a8a029;
  background-color: #eeeeee;
}
.what_we_offer_tab li a {
  color: inherit;
}
.what_we_offer_tab li a:focus {
  background: transparent;
}
.what_we_offer_detail {
  margin-top: 2rem;
}
.what_we_offer_detail {
  margin-top: 2rem;
}
.what_we_offer_detail p {
  text-align: justify;
}
.what_we_offer_detail .mutual_fund_ul {
  margin-top: 1.5rem;
}
.what_we_offer_detail .mutual_fund_ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.7rem;
}
.what_we_offer_detail .mutual_fund_ul li img {
  width: 15px;
  align-self: flex-start;
  margin-right: 0.5rem;
}
.what_we_offer_detail .mutual_fund_ul li p {
  line-height: 1em;
}
/* what we offer end */
/* how to invest start */
.is_online_invest_button {
  width: 100px;
  text-align: center;
}
.is_online_invest_button:nth-child(1) {
  margin-right: 40px;
}

.how_to_invest {
  display: flex;
  flex-direction: column;
}
.how_to_invest_tab {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.how_to_invest_tab li {
  background: #a8a029;
  width: 10rem;
  border-radius: 100px;
}
.how_to_invest_tab li:not(:last-child) {
  margin-right: 1rem;
}
.how_to_invest_tab li.active {
  background: #645900;
}
.how_to_invest_tab li a {
  color: #fff;
  text-align: center;
}
.how_to_invest_tab li a:hover,
.how_to_invest_tab li a:focus {
  background: transparent;
}
.how_to_invest_detail {
  margin-top: 2rem;
}
.how_to_invest_detail .if_no {
  display: flex;

  margin-top: 3rem;
  justify-content: center;
}
.how_to_invest_detail .if_no .call_visit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.how_to_invest_detail .if_no .call_visit:not(:last-child) {
  margin-right: 3rem;
}
.how_to_invest_detail .if_no .call_visit .icon {
  width: 100px;
  padding: 1.5rem;
  border: 2px solid #a8a029;
  border-radius: 50%;
  transform: scale(1.5);
  background: #fff;
}
.how_to_invest_detail .if_no .call_visit .icon img {
  width: 100%;
}
.how_to_invest_detail .if_no .call_visit .text {
  width: 255px;
  height: 7rem;
  border: 2px solid #a8a029;
  display: flex;
  flex-direction: column;

  justify-content: center;
  padding-left: 2rem;
  border-radius: 0 100px 100px 0;
}
.how_to_invest_detail .if_no .call_visit .text h3,
.how_to_invest_detail .if_no .call_visit .text p {
  line-height: 1;
}

@media screen and (max-width: 600px) {
  .how_to_invest_tab li {
    width: 7rem;
  }
  .how_to_invest_detail .if_no {
    flex-wrap: wrap;
  }
  .how_to_invest_detail .if_no .call_visit:not(:last-child) {
    margin: 0 0 3rem 0;
  }
  .how_to_invest_detail .if_no .call_visit .icon {
    width: 85px;
    transform: scale(1.5) translateX(1rem);
  }
  .how_to_invest_detail .if_no .call_visit .text {
    height: 6rem;
    padding-left: 3rem;
  }
}
/* how to invest end */
/* career start */
.offer_to_employee {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-between;
}
.offer_to_employee .offer {
  flex-basis: 47%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.offer_to_employee .offer .icon {
  width: 70px;
}
.offer_to_employee .offer .icon img {
  width: 100%;
}
.offer_to_employee .offer .text {
  padding-left: 30px;
  flex: 1;
}
.offer_to_employee .offer .text h4,
.offer_to_employee .offer .text p {
  line-height: 1.1em;
  margin: 0 0 0.7rem 0;
}
.vacancies .vacancy {
  background-color: #ecf5f7;
  padding: 1rem 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vacancies .vacancy:not(:last-child) {
  margin-bottom: 1rem;
}
@media screen and (max-width: 600px) {
  .offer_to_employee .offer {
    flex-basis: 100%;
  }
  .offer_to_employee .offer .text {
    padding-left: 20px;
  }
  .vacancies .vacancy {
    padding: 1rem;
  }
}
/* career end */
.customerValues {
  display: flex;
  transform: translateY(-30px);
  margin-bottom: 20px;
}
.customerValues .left{
  flex-basis: 30%;
}
.customerValues .right {
  flex-basis: 70%;
}
.customerValueTab {
  /* margin-bottom: 20px; */
}
.customerValueTab .nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #333;
}
.customerValueTab .nav li{
  width: 100%;
}
.customerValueTab .nav li.active{
  background-color: #9a9a34;
  width: 100%;
  position: relative;
}
.customerValueTab .nav li::after{
  content:"";
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 16px;
  height: 16px;
  background-color: #9a9a34;
  opacity: 0;
  transition: opacity .3s;
}
.customerValueTab .nav li.active::after{
  opacity: 1
}
.customerValueTab .nav li a{
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  border-radius: none;
  display: flex;
  align-items: center;
}
.customerValueTab .nav li a .icon{
  flex-basis: 20%;
  padding: 10px;
}
.customerValueTab .nav li a .icon img{
  width: 100%;
}
.customerValueTab .nav li.active a .icon img{
  filter: brightness(0) invert(1);
}
.customerValueTab .nav li a .text{
  flex: 1;
  margin-left: 10px;
}
.customerValueTab .nav li a .text p{
  color: #fff;
}
.customerValueTab .nav li.active a .text p{
  font-weight: 700;
  font-size: 1.1em;
}
.customerValueContent {
  height: 100%;
}
.customerValueContent .tab-pane {
  height: 100%;
  margin-left: 30px;
  background-size: 100% 100%;
  position: relative;
}
.customerValueContent .tab-pane .CV_contents {
  position: absolute;
  left: 35%;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
}
.customerValueContent .tab-pane .CV_contents h4,
.customerValueContent .tab-pane .CV_contents p {
  color: #fff;
}
.customerValueContent .tab-pane:nth-child(1) {
  background: url("../images/customer_value/Customer-Value-Images-01.jpg");
}
.customerValueContent .tab-pane:nth-child(2) {
  background: url("../images/customer_value/Customer-Value-Images-02.jpg");
}
.customerValueContent .tab-pane:nth-child(3) {
  background: url("../images/customer_value/Customer-Value-Images-03.jpg");
}
.customerValueContent .tab-pane:nth-child(4) {
  background: url("../images/customer_value/Customer-Value-Images-04.jpg");
}
.customerValueContent .tab-pane:nth-child(5) {
  background: url("../images/customer_value/Customer-Value-Images-05.jpg");
}

/* customer value start */


/* customer value end */
/* first income unit fund page start */

.first_income_unit_fund table {
  width: 100%;
  margin-bottom: 1.5rem;
}
.first_income_unit_fund table thead tr th {
  color: #ffffff;
  padding: 10px;
  background: #9a9a34;
  text-align: center;
}
.first_income_unit_fund table thead tr th:not(:nth-child(1)) {
  border-left: 1px solid #fff;
}
.first_income_unit_fund table thead tr th:last-child {
  border-right: 1px solid #9a9a34;
}
.first_income_unit_fund table thead tr th:nth-child(1) {
  background: #645900;
  width: 30%;
  border-radius: 3px 0 0 0;
}
.first_income_unit_fund table thead tr th:nth-child(2) {
  width: 60%;
  border-radius: 0 3px 0 0;
  background: #a39a20;
}
.first_income_unit_fund table tbody tr td {
  border: 1px solid #aaa;
  padding: 0.5rem 1rem;
  text-align: center;
}
.first_income_unit_fund table tbody tr td:nth-child(1) {
  font-weight: bold;
  color: #746d18;
}
.first_income_unit_fund_forms {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.first_income_unit_fund_forms a:not(:last-child) {
  margin-right: 2rem;
}

@media screen and (max-width: 600px) {
  .first_income_unit_fund_forms {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .first_income_unit_fund_forms a {
    flex-basis: 100%;
    text-align: center;
  }
  .first_income_unit_fund_forms a:not(:last-child) {
    margin: 0 0 1rem 0;
  }
}
/* first income unit fund page end */
/* custom Modal start */
.feature_read-more {
  border: 0;
}
.feature_read-more:focus {
  outline: 0;
}

.custom_modal_header {
  display: flex;
  align-items: center;
}
.custom_modal_header h3 {
  flex: 1;
}
.theme-btn-s2_team,
.theme-btn-s2_team:hover,
.theme-btn-s2_team:focus,
.theme-btn-s2_team:active {
  border: 0;
  outline: 0;
}
.theme-btn-s2_team:focus,
.theme-btn-s2_team:active {
  background-color: #9a9a34;
}
.client-info-modal {
  display: flex;
}
.client-info-modal .img-holder {
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 120px;
}
.client-info-modal .img-holder img {
  border-radius: 50%;
}
.client-info-modal .details {
  padding-left: 1rem;
  align-self: flex-end;
}
.quote p {
  text-align: justify;
}
/* custom Modal end */
.header-style-1 .search-contact .contact,
.header-style-2 .search-contact .contact,
.header-style-3 .search-contact .contact {
  position: relative;
  top: -10px;
}
/*Tab Css*/

.tabs {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 50px;
  padding-bottom: 80px;
  width: 100%;
  /* height: 250px; */

  border-radius: 5px;
  min-width: 240px;
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs .content section h2,
.tabs ul li label {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: #9a9a34;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  -webkit-box-flex: 1;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label br {
  display: none;
}
.tabs ul li label svg {
  fill: #929daf;
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
  outline: 0;
  color: #58585a;
}
.tabs ul li label:hover svg,
.tabs ul li label:focus svg,
.tabs ul li label:active svg {
  fill: #bec5cf;
}
.tabs .slider {
  position: relative;
  width: 25%;
  -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #9a9a34;
  border-radius: 1px;
}
.tabs .content {
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 16px 0 rgba(51, 51, 51, 0.1);
  border-radius: 10px;
}
.tabs .content section {
  display: none;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: #9a9a34;
  display: none;
}
.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #9a9a34;
  margin-top: 5px;
  left: 1px;
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label {
  cursor: default;
  color: #9a9a34;
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label
  svg {
  fill: #9a9a34;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  -webkit-transform: translateX(-12%);
  transform: translateX(-12%);
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ .content
  > section:nth-child(1) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label {
  cursor: default;
  color: #9a9a34;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label
  svg {
  fill: #9a9a34;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  -webkit-transform: translateX(65%);
  transform: translateX(65%);
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ .content
  > section:nth-child(2) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label {
  cursor: default;
  color: #9a9a34;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label
  svg {
  fill: #9a9a34;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > li:nth-child(3)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  -webkit-transform: translateX(145%);
  transform: translateX(145%);
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ .content
  > section:nth-child(3) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label {
  cursor: default;
  color: #9a9a34;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label
  svg {
  fill: #9a9a34;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > li:nth-child(4)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  -webkit-transform: translateX(225%);
  transform: translateX(225%);
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ .content
  > section:nth-child(4) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(5):checked
  ~ ul
  > li:nth-child(5)
  > label {
  cursor: default;
  color: #9a9a34;
}
.tabs
  input[name="tab-control"]:nth-of-type(5):checked
  ~ ul
  > li:nth-child(5)
  > label
  svg {
  fill: #9a9a34;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(5):checked
    ~ ul
    > li:nth-child(5)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(5):checked ~ .slider {
  -webkit-transform: translateX(305%);
  transform: translateX(305%);
}
.tabs
  input[name="tab-control"]:nth-of-type(5):checked
  ~ .content
  > section:nth-child(5) {
  display: block;
}
@-webkit-keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}
@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
}

.intro {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 2.4rem;
  margin-bottom: 0.5rem;
}
.forms_document h4 {
  color: #58585a;
}
.forms_document ul {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  align-items: stretch;
}
.forms_document ul li {
  text-align: left;
  width: unset;
  flex-basis: 23% !important;
  border: 1px solid #9a9a34;
  flex-grow: 0;
  padding: 20px 15px 40px 15px;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.4s;
}
.forms_document ul li:not(:last-child) {
  margin-right: 2%;
}
.forms_document ul li .pdfSign {
  position: absolute;
  top: 0;
  right: 0;
  background: #9a9a34;
  color: #fff;
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 0 0 0 10px;
  opacity: 0.5;
  transition: all 0.4s;
}
.forms_document ul li .pdfDownloadButton {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #9a9a34;
  color: #fff;
  font-size: 12px;
  padding: 10px 7px;
  text-align: center;
  display: none;
  animation: buttonOpacity 0.4s ease-in-out forwards;
  transition: all 0.4s;
}
@keyframes buttonOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.forms_document ul li .pdfDownloadButton:hover {
  cursor: pointer;
  color: #fff;
}
.forms_document ul li:hover .pdfSign {
  opacity: 1;
}
.forms_document ul li:hover .pdfDownloadButton {
  display: block;
}
.forms_document ul li a {
  color: rgb(88, 88, 90);
}

.forms_document ul li a:hover {
  color: #9a9a34;
}
.nav_and_devident {
}
.statement_and_portfolio h4 a {
  color: #58585a;
}
.statement_and_portfolio h4 a:hover {
  color: rgb(153, 153, 51);
}

/*
Form & Documents Start
 */
.openDocument01 span{
  width: 24px;
  height: 23px;
  display: block;
  float: left;
  background: url('../images/fund_page_icons/accor_btns.png') left top no-repeat;
  padding: 4px;
  margin: 0px 5px;

}

.collapsed span{
  width: 24px;
  height: 23px;
  display: block;
  float: left;
  padding: 4px;
  margin: 0px 5px;
  background: url('../images/fund_page_icons/accor_btns.png') left -23px no-repeat;


}


.left_pdf_img{
  float: left;
  margin-top: 5px;
}

.right_text_docs {
  width: 256px;
  border: 0px solid red;
  margin: 0px 0 0 15px;
  float: left;
}

.download_and_icon a{
  background: url('../images/fund_page_icons/download-icon.png') no-repeat 0 0;
  height: 21px;
  display: block;
  color: #e8724c;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
}

.download_and_icon a:hover{
  background: url('../images/fund_page_icons/download-icon.png') no-repeat 0 -23px;
  height: 21px;
  display: block;
  color: #0ba032;
}


.doc_part .download_and_icon {
  margin: 5px 0;
}

.download_and_icon span {
  display: block;
  padding-left: 28px;
  padding-bottom: 2px;
}
.gapafter {
  margin-bottom: 20px;
}

/* Circle Calculator stat */
.calculator {
  margin-top: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.calculator .circle_01 {
  width: 500px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-image: url('../images/SIP_Calculator.jpg');
  background-size: 100% 100%;
}

.calculator .circle_01 .quadron {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator .circle_01 .quadron p {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  color: #636318;
}
.calculator > .circle_01 > .quadron  {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  /* background-color: rgba(154, 154, 52, 0.699); */
}

.calculator > .circle_01 > .quadron:nth-child(2),
.calculator > .circle_01 > .quadron:nth-child(3) {
  /* border: 1px solid #333; */
}
.calculator .circle_01 .quadron:nth-child(2) {
  /* background-color: #9a9a34; */
}

.calculator .circle_01 .quadron:nth-child(1)  p {
  -webkit-transform: translate(-25px, -25px) rotate(-45deg);
          transform: translate(-25px, -25px) rotate(-45deg);
}

.calculator .circle_01 .quadron:nth-child(2)  p {
  -webkit-transform: translate(25px, -25px) rotate(45deg);
          transform: translate(25px, -25px) rotate(45deg);
          color: #fff;
}
.calculator .circle_01 .quadron:nth-child(2) > p {
          color: #fff;
}

.calculator .circle_01 .quadron:nth-child(3) p {
  -webkit-transform: translate(-30px, 30px) rotate(225deg);
          transform: translate(-30px, 30px) rotate(225deg);
}

.calculator .circle_01 .quadron:nth-child(4) p {
  -webkit-transform: translate(30px, 30px) rotate(135deg);
          transform: translate(30px, 30px) rotate(135deg);
}

.calculator .circle_01 .circle_02 {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 50%;
  overflow: hidden;
  /* background-color: #fff; */
}

.calculator .circle_01 .circle_02 .quadron {
  width: 50%;
  height: 50%;
}

.calculator .circle_01 .circle_02 .quadron .innerQuadron {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator .circle_01 .circle_02 .quadron input {
  text-align: center;
  color: #333;
  background: transparent;
  border: none;
  background-color:#eae6e6;
}
.calculator .circle_01 .circle_02 .quadron input:focus {
  border: none;
  outline: none;
}
.calculator .circle_01 .circle_02 .quadron:nth-child(1) input {
  -webkit-transform: translate(-28px, -28px) rotate(-45deg);
          transform: translate(-28px, -28px) rotate(-45deg);
}

.calculator .circle_01 .circle_02 .quadron:nth-child(2) input {
  background-color: #D1C78C;
  -webkit-transform: translate(25px, -25px) rotate(45deg);
          transform: translate(25px, -25px) rotate(45deg);
}

.calculator .circle_01 .circle_02 .quadron:nth-child(3) input {
  -webkit-transform: translate(-28px, 28px) rotate(225deg);
          transform: translate(-28px, 28px) rotate(225deg);
}

.calculator .circle_01 .circle_02 .quadron:nth-child(4) input {
  -webkit-transform: translate(25px, 25px) rotate(135deg);
          transform: translate(25px, 25px) rotate(135deg);
}

.calculator .circle_01 .circle_02 .quadron:nth-child(1) {
  padding: 0 15px 15px 0;
}

.calculator .circle_01 .circle_02 .quadron:nth-child(2) {
  padding: 0 0 15px 15px;
}

.calculator .circle_01 .circle_02 .quadron:nth-child(3) {
  padding: 15px 15px 0 0;
}

.calculator .circle_01 .circle_02 .quadron:nth-child(4) {
  padding: 15px 0 0 15px;
}

/* .calculator .circle_01 .circle_02 .quadron:nth-child(1) .innerQuadron,
.calculator .circle_01 .circle_02 .quadron:nth-child(4) .innerQuadron {
  background-color: #1f859e;
} */

.calculator .circle_01 .circle_02 .quadron:nth-child(2),
.calculator .circle_01 .circle_02 .quadron:nth-child(3) {
  /* background-color: #fff; */
}

.calculator > .circle_01 > .circle_02 > .quadron > .innerQuadron {
  /* background-color: #cfcccc; */
}

.calculator .circle_01 .circle_02 .quadron:nth-child(2) .innerQuadron {
  /* background-color: rgba(154, 154, 52, 0.699); */
}

.calculator .circle_01 .circle_02 .quadron:nth-child(2) {
  /* border-left: 1px solid #000; */
  /* border-bottom: 1px solid #000; */
}

.calculator .circle_01 .circle_02 .quadron:nth-child(3) {
  /* border-top: 1px solid #000; */
  /* border-right: 1px solid #000; */
}

.calculator .circle_01 .circle_03 {
  width: 330px;
  height: 330px;
  position: absolute;
  top: 85px;
  left: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* background-color: #fff; */
  overflow: hidden;
  border-radius: 50%;
}

.calculator .circle_01 .circle_03 .quadron:nth-child(2),
.calculator .circle_01 .circle_03 .quadron:nth-child(3) {
  /* background-color: #fff; */
}

.calculator .circle_01 .circle_03 .quadron:nth-child(2) {
  /* border-left: 1px solid #000; */
  /* border-bottom: 1px solid #000; */
}

.calculator .circle_01 .circle_03 .quadron:nth-child(3) {
  /* border-top: 1px solid #000; */
  /* border-right: 1px solid #000; */
}

.calculator .circle_01 .circle_03 .inner {
  position: absolute;
  top: 15px;
  left: 15px;
  /* background-color: #fff; */
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  /* border: 1px solid #000; */
}

.calculator .circle_01 .circle_03 .inner form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333;
  padding: 20px 65px;
  text-align: center;
}

.calculator .circle_01 .circle_03 .inner form label {
  /* padding: 10px; */
}

.calculator .circle_01 .circle_03 .inner form input {
  outline: none;
  /* border: 1px solid #000; */
  padding: 5px 10px;
  border-radius: 5px;
}
/* Circle Calculator end */

.discoverSAMLSection {
}
.discoverSAMLSection.negativeTopMargin {
  transform: translateY(-50px);
}
.discoverSAMLSection .discoverSAMLInner{
  padding: 15px;
  display: flex;
  /* align-items: center; */
  color: #fff;
}
.discoverSAMLSection .discoverSAMLInner.colorDark{
  color: #333;
}
.discoverSAMLSection .discoverSAMLInner.noPadding{
  padding: 0;
}
.discoverSAMLSection .discoverSAMLInner.green{
  background-color: #9a9a34;
}
.discoverSAMLSection .discoverSAMLInner.gray{
  background-color: #333;
}
.discoverSAMLSection .discoverSAMLInner .left,
.discoverSAMLSection .discoverSAMLInner .right{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.discoverSAMLSection .discoverSAMLInner .left img{
  clip-path: polygon(0 0, 96% 0, 96% 20%, 100% 22.5%, 96% 25%, 96% 100%, 0 100%);
}
.discoverSAMLSection .discoverSAMLInner .right img{
  clip-path: polygon(4% 0, 100% 0, 100% 100%, 4% 100%, 4% 25%, 0 22.5%, 4% 20%);
}

@media (max-width:600px) {
  .discoverSAMLSection .discoverSAMLInner .left img,
  .discoverSAMLSection .discoverSAMLInner .right img{
    clip-path: polygon(0 0, 100% 0, 100% 96%, 20% 96%, 17.5% 100%, 15% 96%, 0 96%);
  }
}

.discoverSAMLSection .discoverSAMLInner .quoteImage img{
  width: 100%;
}
.discoverSAMLSection .discoverSAMLInner .right .quoteText {
  position: relative;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
}
.discoverSAMLSection .discoverSAMLInner .right .quoteText::before,
.discoverSAMLSection .discoverSAMLInner .right .quoteText::after {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1;
  font-size: 6.5em;
}
.discoverSAMLSection .discoverSAMLInner .right .quoteText::before {
  content: '”';
  top: -130px;
  transform: translateX(-50%) rotate(180deg);
}
.discoverSAMLSection .discoverSAMLInner .right .quoteText::after {
  content: '”';
  bottom: -130px;
}
.discoverSAMLSection .discoverSAMLInner .descriptionText {
  padding: 20px;
}
.discoverSAMLSection .discoverSAMLInner p {
  color: #fff;
  text-align: justify;
  
}
.discoverSAMLSection .discoverSAMLInner.colorDark p {
  color: #333;
}

.secondaryTab {
  margin-bottom: 30px;
}
.secondaryTab > .nav-tabs {
  border-radius: 10px;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid #9a9a34;
  margin-top: 30px
}
.secondaryTab > .nav-tabs > li {
  background-color: transparent;
  transition: all 0.3s;
}
.secondaryTab > .nav-tabs  > li:not(:last-child) {
  border-right: 1px solid #9a9a34;
}
.secondaryTab > .nav-tabs > li > a{
  color: #9a9a34;
  display: block;
  height: 100%;
  width: 100%;
  border: none;
}
.secondaryTab.colorWhit > .nav-tabs > li > a{
  color: #fff;
}
.secondaryTab > .nav-tabs > li.active,
.secondaryTab > .nav-tabs > li:hover{
  background-color: #9a9a34;
}
.secondaryTab > .nav-tabs > li.active a,
.secondaryTab > .nav-tabs > li:hover a{
  color: #fff;
}
.secondaryTab > .nav-tabs > li > a{
  background-color: transparent;
}
#newsRoomCategory {
  background: #f2f2f2;
  border-radius: unset;
  padding: 15px 5px;
  height: unset;
  transform: translateY(25px);
}
.newsroomTab {}
.newsroomTab > ul.nav-tabs { background: unset; border-bottom: none;}
.newsroomTab > ul.nav-tabs > li { text-align: center; padding: 0 10px}
.newsroomTab > ul.nav-tabs > li.active { background: none;}
.newsroomTab > ul.nav-tabs > li > a {color: #666; height: 100%; padding: 10px 5px; border: none; display: inline-block;}
.newsroomTab > ul.nav-tabs > li > a:hover {background-color: unset; border: none;}
.newsroomTab > ul.nav-tabs > li.active > a {color: #9a9a34; border-bottom: 3px solid #9a9a34; font-weight: bold;}

.newsroomMultipleTabContent {
  padding: 0 0 50px 0;
}

.newsroomNewses {
  margin: 0 0 30px 0;
}
.newsroomNewses .news {
  display: flex;
  /* align-items: center; */
  padding: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.329);
}
.newsroomNewses .news:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.329);
}
.newsroomNewses .news .picture{
  flex-basis: 25%;
}
.newsroomNewses .news .picture img{
  width: 100%;
}
.newsroomNewses .news .newsDetail{
  flex: 1;
  padding: 0 30px;
}
.newsroomNewses .news .newsDetail .date{
  color: #333;
}
.newsroomNewses .news .newsDetail h6{
  text-transform: uppercase;
}
.newsroomNewses .news .time{
  /* flex-basis: 20%; */
  text-align: right;
  align-self: flex-end;
}
.newsroomNewses .news .time p{
  margin: 0;
}

/*  */
.newsroomNewses.newsroomFeaturedArticle {
  margin: 0;
}
.newsroomNewses.newsroomFeaturedArticle .news {
  padding: 0 15px 0 0;
  border: unset;
}

.newsroomNewses.newsroomFeaturedArticle .news .picture{
  flex-basis: 35%;
}

/* How to invest start */
.nav-tabs.howToInvestNavTab {
  background-color: #333;
  display: flex;
  justify-content: space-between;
}

.nav-tabs.howToInvestNavTab li.active {
  background: #888734;
  color: #a1a1a1;
  border-bottom: 4px solid #d3cf43;
}

.nav-tabs.howToInvestNavTab>li>a {
  margin-right: 0;
  border: none;
  height: 100%;
  padding: 10px 12px;
}

.howToInvestPageMultiTabContent .tab-pane {
  padding-top: 15px;
}
.howToInvestPageMultiTabContent .HTIContents {
  /* background: red; */
}
.howToInvestPageMultiTabContent .HTIContents .HTIContent {
  display: flex;
  border-top: 1px solid #a1a1a1;
}
.howToInvestPageMultiTabContent .HTIContents .HTIContent .title {
  flex-basis: 20%;
  padding: 20px;
  background: #888734;
}
.howToInvestPageMultiTabContent .HTIContents .HTIContent .title h4{
  margin: 0px;
  color: #f0efe5;
}
.howToInvestPageMultiTabContent .HTIContents .HTIContent .contents {
  flex: 1;
  padding: 20px 0 20px 25px;
  text-align: justify;
}

.HTIContentLinks {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0 0 0;
}
.HTIContentLinks.DColumn {
  flex-direction: column;
}
.HTIContentLinks li{
  margin: 0 20px 15px 0;
}
.HTIContentLinks.basisFifty li{
  flex-basis: 50%;
  margin: 0 0 15px 0;
}
.HTIContentLinks li a{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #888734;
  transition: color 0.3s;
}
.HTIContentLinks li a:hover {
  color: #333;
}
.HTIContentLinks li a span.icon {
  padding: 10px; 
  background: #888734;
  border-radius: 100px;
  height: 45px;
  width: 45px;
  transition: background .3s;
}
.HTIContentLinks li a:hover span.icon {
  background: #333;
}
.HTIContentLinks li a span.icon img{
  width: 100%;
  filter: brightness(0) invert(1)
}
.HTIContentLinks li a span.text{
  margin-left: 10px;
  font-weight: 700;
}


/* How to invest end */

/* what we offer start */
.WWOMutualFUnd {
  padding: 20px;
  justify-self: flex-start;
}
/* what we offer end */